{% extends 'base.html' %}
{% load static %}
{% block auth_content %}
<div class="login-page">
  <div class="login-box">
    <div class="login-brand">
      <span class="login-logo">
          <img src="{% static 'jyaba_logo.jpg' %}" alt="Jyaba Tech Logo" style=" max-width: 150px; /* Adjust the width to fit your design */
    height: auto;     /* Maintains aspect ratio */
    display: block;
    margin: 0 auto 15px auto; ">
      </span>
      <div class="login-title">Jyaba Tech</div>
      <div class="login-subtitle">Invoice Management System</div>
    </div>

    {% if messages %}
    <ul class="messages" style="margin-bottom:16px;">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <div class="login-form-group">
        <label for="id_username">Username</label>
        {{ form.username }}
      </div>
      <div class="login-form-group">
        <label for="id_password">Password</label>
        {{ form.password }}
      </div>
      <button type="submit" class="login-submit">Sign In →</button>
    </form>

    <p style="text-align:center; margin-top:20px; font-size:11px; color:#8A7F7A;">
     
    </p>
  </div>
</div>
{% endblock %}
